<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
</head>
<body>
    <h1> Codebook <%= title%> </h1>
    <section id="feedpost">
        <h3>POST</h3>
        
        <form action="/posts/create" id="newpost" method="POST">
            <textarea name="content" id="newpostcontent" cols="30" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>

        <div id="post-container">
            <ul>
                <% for(post of posts) { %>
                    <li>
                        <%= post.content%> <br>
                        <%= post.user.name%>
                        <br><br>

                    </li>

                    <%}%>
            </ul>

        </div>

    </section>
</body>
</html>